[Unit]
Description=Python API Service
After=network.target

[Service]
User=natedumm
Group=natedumm
WorkingDirectory=/home/natedumm/workcpsc/cpsc222/
ExecStart=/usr/bin/python3 /home/natedumm/workcpsc/cpsc222/users.py
Description=Python API Service
After=network.target

[Install]
WantedBy=multi-user.target


Restart=always

